<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tony Rogers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#fade-in").hide().delay().fadeIn(1500);
            $("#tony").hide().delay().fadeIn(1500);
            $("#about-me").hide().delay().fadeIn(1500);
            $(".fade-in").hide().delay().fadeIn(1500);
        });
    </script>
</head>

<body>
    <header>
        <div class="navbar" id="fade-in">
            <a href="/">About</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/music">Music</a>
            <a href="/contact">Contact</a>
        </div>

    </header>
    <main>
        <div id="port-body">
            <h1 id="port-header">Portfolio</h1>
            <h2>DjentJam</h2>
            <img src="{% static 'djentjam.png' %}" width="900px" height="550px" id="djentjam">
            <p>DjentJam was my final project for Coding Dojo. The idea was to create a social site for people who
                are
                into
                the niche genre of metal known as "Djent". Users can register and login so they can make posts and
                store
                information in the websites database. Users can make posts, comment on posts, like posts, edit
                posts,
                edit
                comments, delete posts, and delete comments. However, I designed it to where they cannot delete
                anoyone
                elses posts, only their own. It's still a work in progress. I plan on adding more customizing
                options in
                the
                future such as adding more information to your profile and even uploading media. Check it out by
                clicking
                the link below!</p>
            <h4 style="margin-top: 50px;">Check out DjentJam.com!</h4>
            <a style="margin-top: 50px; box-shadow: 5px 10px 20px black;" href="http://13.59.219.79/"
                class="btn btn-primary">Go to DjentJam</a>

            <h2 style="margin-top: 100px; margin-bottom: 50px;">Spaztron's Website Redesign</h2>
            <img src="{% static 'old.png' %}" width="650px" height="475px" id="old" class="pics">
            <img src="{% static 'new.png' %}" width="650px" height="475px" id="new" class="pics">
            <p>This was my father's website I recreated for him. He built it himself on wix.com and I decided I
                wanted to give it a shot at redesigning it. You can click the links below to check out the old
                version of his website and the new version that I created. I created it to be completley responsive
                and looks good no matter what device your on. If you try to resize your browser window or go to this
                website on your phone the content of the website will adjust to the screen size.</p>
            <a style="margin-top: 50px; margin-right: 50px; box-shadow: 5px 10px 20px black;"
                href="https://altrog.wixsite.com/spaztron" class="btn btn-primary">Old Website</a>
            <a style="margin-top: 50px; margin-left: 50px; box-shadow: 5px 10px 20px black;"
                href="http://18.216.119.91/" class="btn btn-primary">New Website</a>
        </div>
    </main>
    <footer class="footer">
        <p>Copywright @2020 | All rights reserved</p>
        <a href="/contact">Contact</a>
        <a href="https://www.linkedin.com/in/tony-rogers776/"><img src="{% static 'linkedin.webp' %}" width="75px"
                height="75px"></a>
        <a href="https://github.com/tonyrogers776"><img src="{% static 'github.png' %}" width="50px" height="50px"></a>
    </footer>

</body>

</html>