@media only screen and (min-width: 1024px) {

    html {
        position: relative;
        min-height: 100%;
    }

    a {
        color: #35363a;
    }

    body {
        margin: 0 0 100px;
        padding-bottom: 100px;
        background: radial-gradient(#1b1b1b, #35363a);
        font-family: 'Varela Round', sans-serif;
    }

    footer {
        background: linear-gradient(firebrick, tomato);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6, p, a, li {
        text-shadow: 5px 5px 10px black;
        margin-bottom: 10px;
        color: whitesmoke;
    }

    header {
        text-align: center;
    }

    li {
        list-style: none;
        margin-top: 50px;

    }

    #tony {
        position: relative;
        border-radius: 300px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 20px black;
        width: 250px;
        height: 250px;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(firebrick, tomato);
        padding: 10px;
        box-shadow: 5px 5px 20px black;
        margin-bottom: 50px;
    }

    .navbar a {
        color: whitesmoke;
        font-size: x-large;
        text-shadow: 1px 1px 5px black;
    
    }

    .slide-in-from-right{
        display: inline-block;
        background: radial-gradient(firebrick, rgb(236, 66, 36));
        width: 50%;
        margin-left: 25%;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 5px 10px 20px black;
    }

    .slide-in-from-right p {
        font-size: large;
    }

    

    #skills img {
        margin-right: 10px;
    }

    #about-me h3 {
        margin-bottom: 50px;
    }

    #skills {
        text-align: center;
        margin-top: 100px;
    }

    #skills ul {
        display: inline-block;
        margin: 50px;
        font-size: large;
    
    }

    #about-me p {
        font-size: xx-large;
        margin: 25px;

    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #horizon {
        margin-top: 10px;
        margin-bottom: 50px;
        border-radius: 50px;
        box-shadow: 5px 10px 20px black;
    
    }

    #soundcloud {
        background-color: darkorange;
        box-shadow: 5px 10px 20px black;
        margin-top: 50px;
        display: inline;
    }

    #music-body {
        margin-top: 50px;
        text-align: center;
        padding: 50px;
        margin-bottom: 25px;
        margin-bottom: 25px;
    }

    iframe {
        margin: 50px;
        border: 5px solid firebrick;
    }

    #djentjam {
        border: 5px solid firebrick;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 20px black;
    }

    .pics {
        border: 5px solid firebrick;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;
        box-shadow: 5px 10px 20px black;
    }

    #port-body {
        text-align: center;
    }

    #wrapper {
        text-align: center; 
    }

    #primary {
        margin-top: 100px;
    }

    #secondary {
        margin-top: 100px;
    }

    #secondary img {
        margin-left: 10px;
        margin-right: 25px;
    }

    #education {
        text-align: center;
    }

    #port-body p {
        width: 75%;
        margin-left: 12.5%;
    }

    .center p {
        font-size: large;
        margin-top: 25px;
    }

    #port-header {
        margin-bottom: 100px;
        text-decoration: underline;
    }

    #youtube-background {
        box-shadow: 5px 10px 20px black;
    }

    #tracklist{
        text-align: center;
    }

    #music-bottom {
        text-align: center;

    }

    #youtube-button {
        display: inline;
        background-color: rgb(255, 52, 52);
        box-shadow: 5px 10px 20px black;
        margin-left: 50px;
    }

    .slide-in-from-left {
        margin-right: 80%;
        opacity: 0.1;
        position: relative;
    
    }

    .projects {
        position: relative;
        margin-left: 50%;
    }

    #music-body p {
        width: 50%;
        margin-left: 25%;
    }

}

@media only screen and (max-width: 480px) {
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin: 0 0 100px;
        padding-bottom: 100px;
        background: radial-gradient(#1b1b1b, #35363a);
        font-family: 'Varela Round', sans-serif;
    }

    footer {
        background: linear-gradient(firebrick, tomato);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6, p, a, li {
        text-shadow: 5px 5px 10px black;
        margin-bottom: 10px;
        color: whitesmoke;
    }

    header {
        text-align: center;
    }

    li {
        list-style: none;
        margin-top: 50px;

    }

    #tony {
        position: relative;
        border-radius: 260px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 20px black;
        width: 200px;
        height: 200px;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(firebrick, tomato);
        padding: 10px;
        box-shadow: 5px 5px 20px black;
        margin-bottom: 50px;
    }

    .navbar a {
        color: whitesmoke;
        font-size: large;
        text-shadow: 1px 1px 5px black;
    
    }

    .slide-in-from-right{
        display: inline-block;
        background: radial-gradient(firebrick, rgb(236, 66, 36));
        width: 100%;
        text-align: center;
        padding: 15px;
        margin-top: 50px;
        box-shadow: 5px 10px 20px black;
    }

    

    #skills img {
        margin-right: 10px;
    }

    #about-me h3 {
        margin-bottom: 50px;
    }

    #skills {
        margin-top: 75px;

    }

    #skills h4 {
        margin-left: 40px;
    }

    ul {
        display: inline-block;
        padding: 0px;
        margin-left: 40px;
    }

    #about-me p {
        font-size: xx-large;
        margin: 25px;

    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #horizon {
        margin-top: 10px;
        margin-bottom: 50px;
        border-radius: 50px;
        box-shadow: 5px 10px 20px black;
        width: 200px;
        height: 200px;
    
    }

    #soundcloud {
        background-color: darkorange;
        box-shadow: 5px 10px 20px black;
        margin-top: 50px;
        display: inline;
    }

    #port-body h2 {
        margin-top: 10px;
        margin: 25px;
    }

    #music-body {
        margin-top: 10px;
        text-align: center;
        padding: 10px;
    }

    iframe {
        border: 1px solid firebrick;
        height: 180px;
        width: 280px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #djentjam {
        border: 5px solid firebrick;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 20px black;
        width: 300px;
        height: 200px;
    }

    .pics {
        border: 5px solid firebrick;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;
        box-shadow: 5px 10px 20px black;
        width: 300px;
        height: 200px;
    }

    #port-body {
        text-align: center;
    }

    #wrapper {
        text-align: center; 
        padding: 10px;
    }

    #primary {
        margin-top: 25px;
        display: block;
    }

    #wrapper h1, h2, h3, h4 {
        font-size: large;
        
    }

    #secondary {
        margin-top: 105px;
        display: block;
    }

    #secondary img {
        margin-left: 10px;
        margin-right: 25px;
    }

    #education {
        text-align: center;
    }

    #port-body p {
        width: 90%;
        margin-left: 5%;
        padding: 10px;
    }

    #port-header {
        margin-bottom: 25px;
        text-decoration: underline;
    }

    #youtube-background {
        box-shadow: 5px 10px 20px black;
    }

    #tracklist{
        text-align: center;
    }

    #music-bottom {
        text-align: center;

    }

    #youtube-button {
        display: inline;
        background-color: rgb(255, 52, 52);
        box-shadow: 5px 10px 20px black;
        margin-left: 50px;
    }

    .projects {
        position: relative;
        margin-left: 50%;
    }

    .footer a {
        color: blue;
        font-size: x-small;
    }

    .footer p {
        font-size: x-small;
    }

    .footer {
        padding: 5px
    }

    .footer img {
        height: 40px;
        width: 40px;
    }

    #port-body p {
        width: 100%;
        margin: 0px;
    }

    #old, #new {
        margin: 25px;
    }

    #music-body p {
        margin: 10px;
        margin-bottom: 25px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    html {
        position: relative;
        min-height: 100%;
    }

    a {
        color: #35363a;
    }

    body {
        margin: 0 0 100px;
        padding-bottom: 100px;
        background: radial-gradient(#1b1b1b, #35363a);
        font-family: 'Varela Round', sans-serif;
    }

    footer {
        background: linear-gradient(firebrick, tomato);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6, p, a, li {
        text-shadow: 5px 5px 10px black;
        margin-bottom: 10px;
        color: whitesmoke;
    }

    header {
        text-align: center;
    }

    li {
        list-style: none;
        margin-top: 50px;

    }

    #tony {
        position: relative;
        border-radius: 260px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 20px black;
        width: 150px;
        height: 150px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(firebrick, tomato);
        padding: 10px;
        box-shadow: 5px 5px 20px black;
        margin-bottom: 50px;
    }

    .navbar a {
        color: whitesmoke;
        font-size: x-large;
        text-shadow: 1px 1px 5px black;
    
    }

    .slide-in-from-right{
        display: inline-block;
        background: radial-gradient(firebrick, rgb(236, 66, 36));
        width: 75%;
        margin-left: 12.5%;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 5px 10px 20px black;
    }

    .slide-in-from-right p {
        font-size: large;
    }

    

    #skills img {
        margin-right: 10px;
    }

    #about-me h3 {
        margin-bottom: 50px;
    }

    #skills {
        text-align: center;
        margin-top: 100px;
    }

    #skills ul {
        display: inline-block;
        margin: 50px;
        font-size: large;
    
    }

    #about-me p {
        font-size: xx-large;
        margin: 25px;

    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #horizon {
        margin-top: 10px;
        margin-bottom: 50px;
        border-radius: 50px;
        box-shadow: 5px 10px 20px black;
        width: 400px;
        height: 400px;
    
    }

    #soundcloud {
        background-color: darkorange;
        box-shadow: 5px 10px 20px black;
        margin-top: 50px;
        display: inline;
    }

    #music-body {
        margin-top: 50px;
        text-align: center;
        padding: 50px;
        margin-bottom: 25px;
        margin-bottom: 25px;
    }

    iframe {
        margin: 50px;
        border: 5px solid firebrick;
    }

    #djentjam {
        border: 5px solid firebrick;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 20px black;
        width: 500px;
        height: 300px;
    }

    .pics {
        border: 5px solid firebrick;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;
        box-shadow: 5px 10px 20px black;
        width: 500px;
        height: 300px;
    }

    #port-body {
        text-align: center;
    }

    #port-body p {
        padding: 25px;
    }

    #wrapper {
        text-align: center; 
    }

    #primary {
        margin-top: 100px;
    }

    #secondary {
        margin-top: 100px;
    }

    #secondary img {
        margin-left: 10px;
        margin-right: 25px;
    }

    #education {
        text-align: center;
    }

    .center {
        text-align: center;
        width: 50%;
        margin-left: 25%;
    }

    .center p {
        font-size: large;
        margin-top: 25px;
    }

    #port-header {
        margin-bottom: 100px;
        text-decoration: underline;
    }

    #youtube-background {
        box-shadow: 5px 10px 20px black;
    }

    #tracklist{
        text-align: center;
    }

    #music-bottom {
        text-align: center;

    }

    #youtube-button {
        display: inline;
        background-color: rgb(255, 52, 52);
        box-shadow: 5px 10px 20px black;
        margin-left: 50px;
    }

    .projects {
        position: relative;
        margin-left: 50%;
    }

}